<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net472" />
  <package id="ClosedXML" version="0.105.0" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="2.0.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.4.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.4.1" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.5" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="sqlite-net-pcl" version="1.9.172" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="2.1.2" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.1.2" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.2" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.2" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="2.0.2" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
</packages>